
body{
    max-width: 1200px;
	
    margin: auto;
    width: 70%;
    height: 2000px;
    background-color: #F5FFFA;
    font-size: 100%;
    text-align: left;
    line-height: 2;

    
}
	

h1{
	text-align: left;
	font-size: 60px;
	margin-left: 440px;
	margin-bottom: 0px;
	font-family: 'Crimson Text', serif;
	font-weight: normal;
	font-kerning: normal;
}

h2.graphic{
	text-align: left;
	margin-left: 440px;
	font-size:40px;
	line-height: 10%;
	font-weight: normal;

}

h2#prelude{
	font-family: 'Crimson Text', serif;
	padding-top: 50px;

}

p {
	font-size: 15px;
	font-family: 'Crimson Text', serif;
	line-height: 130%;
	
}

p.justify{
	text-align: justify;
  	text-justify: inter-word;
  	line-height: 140%;
}

p.questions {
	
	font-family: 'Crimson Text', serif;
	font-size: 28px;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 150%;
	color: #FA8072;
}

h2#Conversation  {
	font-family: 'Crimson Text', serif;
	font-size: 180px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 200px;
	display:block;
	padding-top: 0px;
  
 

}


div#bg{
	background-color: #A52A2A;
	color: orange;
	margin-top: 100px;
	padding-bottom: 100px;
	padding-right: 50px;
	padding-left: 50px
}







p.pre {
	margin-left: 440px;
	

}

h2#Ref{
	font-family: 'Crimson Text', serif;
	font-size:50px;
	text-align: left;
	margin-bottom: 0px;

}

h2#Prelude{
	font-family: 'Crimson Text', serif;
	font-size:30px;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 440px;
	padding-top: 50px;

}

section.words{
	column-count: 2;
	grid-column-gap: 30px;
}

section.design{
  padding-top:100px;
  max-width: 1000px;

}






ul.style{
	text-decoration: none;
	list-style-type: none;
	font-size:14px;
	text-align: left;
}

a:link{
	text-decoration: none;
	list-style-type: none;
  	color: black;
  	text-align: left; 
  	text-decoration: none;
  	display: block;
  	font-size:17px;



}
html {
  scroll-behavior: smooth;
}

a:visited{
	color: orange;
}

a:hover{
	color: white;
}


div#Toc {
  position: fixed;
  float: right;
  top: 1em;
  right: 1em;
  text-align:center;
  background:#A52A2A ;
  color: white;
  display: block;
  font-size: 11px;
  margin:0px;
  padding:0px;
  width: 170px;
  height: 200px;
}





img {
 max-width: 40%;
 display:block;
 float: left;


 
}

header#first{
	background:#A52A2A ;
	color: white;
	padding-bottom: : 100px;
	height:220px;
	text-align: left;
	display: block;

}




h1.one {
	font-family: 'Crimson Text', serif;
	font-weight: normal;
	font-size: 100px;
	text-align: center;
	display: block;
	color: orange;
	float: center;
	margin: auto;
	padding:auto;
	
}

footer#last{
	background:#A52A2A ;
	color: #A52A2A;
	padding-top: 100px;
	font-size: 100px;
	display: block;
	height:100px;
	text-align: center;
}

a.back {
  position: fixed;
  float: left;
  top: 1em;
  left: 1em;
  background:#A52A2A ;
  color: orange;
  display: block;
  margin-top: 15px;
  font-family:  arial, sans-serif;
  font-size: .80em;
  font-weight: bold;
  padding-left: 1.3em ;
  padding-right: 1.3em;
  padding-top: 10px;
  width: 100px;
  height: 40px;
  line-height: 1.3em;
  text-align: center;
  outline: 3px dashed #ffffff;
  border-radius: 10px;
	
}

