
/* reset styles */
* { margin: 0px; padding: 0px; }

/* make the background of the page black */
body { background: black;}

/* mickey canvas */
#canvas {
  width: 400px;
  height: 600px;
  position: relative;
  background: white;
}

/* shapes */
/* make all divs inside of #canvas a circle */
#canvas div{
  border-radius: 200px;
  position: absolute;
  animation-name: #mouth;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* 
adjust the top and left 
properties of the elements
to position them 
*/

#ear-1 {
  width: 100px;
  height: 100px;
  background: black;
  top: 35px;
    left: 152px;

  /* try uncommenting the following code
  top: 100px;
  left: 20px;
  */
}
#ear-2 {
  width: 100px;
  height: 100px;
  background: black;
          top: 0;
    left: 52px;
}

#head {
  width: 140px;
  height: 140px;
  background: beige;
  top: 104px;
    left: 48px;
}

#eye-1 {
  width: 25px;
  height: 25px;
  background: black;
      top: 120px;
    left: 65px;
}

#eye-2 {
  width: 25px;
  height: 25px;
  background: black;
         top: 125px;
    left: 106px;
}

#nose {
  width: 45px;
  height: 45px;
  background: black;
    top: 176px;
    left: 30px;
}
@keyframes
#mouth {
  width: 35px;
  height: 35px;
  
  background: red;
  
  top: 199px;
  left: 141px;
}


#body {
  width: 160px;
  height: 160px;
  background: red;
          top: 251px;
    left: 70px;
}

#button-1 {
  width: 32px;
  height: 32px;
  background: black;
      top: 325px;
    left: 100px;
}

#button-2 {
  width: 32px;
  height: 32px;
  background: black;
     top: 306px;
    left: 144px;
}

#foot-1 {
  width: 150px;
  height: 150px;
  background: yellow;
  top: 430px;
    left: 20px;
}

#foot-2 {
  width: 150px;
  height: 150px;
  background: yellow;
  top: 370px;
    bottom: 0px;
    right: 0px;
}

