* {
	transform-origin: center center;
	scroll-behavior: smooth;
}


html{
	height: 100%;
	width: 100vw;
}



body{
	margin: 0;
	padding: 0;
	max-width: 100vw;



}


#fixed{
	background: red;
	z-index: 10;
	position: fixed;
	filter: invert(100%);
	opacity: .1
}


/* A */


#initialA{
	position:absolute;
	z-index: 20;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 600px;
	left: 200px;
	transform: scale(1) ;
	transition: .5s ease;
	
}



.fixed2{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 110px;

}


.fixed2 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.fixed2 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.fixed2 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 105px;
}


.fixed2 div.rightbot{
	background:  black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 105px;
}

.fixed2 div.leftex{
	background: transparent;
}


.fixed2 div.rightex{
	background:  transparent;
}




/* N */

#intialN{
	position: absolute;
	z-index: 20;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 538px;
	left: 100px;
}

.fixed1{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 90px;
	transform: scale(1) ;
	transition: .5s ease;

}


.fixed1 div.left{
	background: transparent;
}


.fixed1 div.right{
	background: transparent;
}

.fixed1 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 167px;
}


.fixed1 div.rightbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 167px;
}

.fixed1 div.leftex{
	background: transparent;
}


.fixed1 div.rightex{
	background:  transparent;
}






#glyphW:hover{
	transform: scale(2) rotateY(360deg);
}
#glyphE:hover{
	transform: scale(2) rotateY(360deg);
}
#glyphL:hover{
	transform: scale(2) rotateY(360deg);
}
#glyphC:hover{
	transform: scale(2) rotateY(360deg);
}
#glyphO:hover{
	transform: scale(2) rotateY(360deg);
}
#glyphM:hover{
	transform: scale(2) rotateY(360deg);
}
#glyphE2:hover{
	transform: scale(2) rotateY(360deg);
}



#container:hover{
	transform: rotateZ(0deg);
}



#glyphnum2:hover{
	transform: scale(4) rotate(360deg);
}




#Jeanne:hover{
	transform: rotateZ(0deg);
}



#glyphJ:hover{
	transform: scale(2) translateY(50px) translateX(-10px) rotate(-15deg);
}
#glyphE3:hover{
	transform: scale(2) translateY(-50px) translateX(10px);
}

#glyphA:hover{
	transform: scale(2) translateY(-50px) translateX(10px);
}

#glyphN:hover{
	transform: scale(2) translateY(50px) translateX(10px);
}
#glyphN2:hover{
	transform: scale(2) translateY(50px) translateX(-10px);
}

#glyphE4:hover{
	transform: scale(2) translateY(-50px) translateX(10px) rotate(15deg);
}


#glyphT:hover{
	transform: scale(2) translateX(-200px);
}

#glyphY:hover{
	transform: scale(2) translateY(-140px);
}

#glyphP:hover{
	transform: scale(2) translateY(107px);
}

#glyphE6:hover{
	transform: scale(2) translateX(180px);
}



#two1:hover{
	transform:scale(3);
	opacity: .5;
	transform: skew(20deg);
}

#zero1:hover{
	transform:scale(3);
	opacity: .5;
	transform: skew(20deg);
}

#one1:hover{
	transform:scale(3);
	opacity: .5;
	transform: skew(20deg);
}

#nine1:hover{
	transform:scale(3);
	opacity: .5;
	transform: skew(20deg);
}



#footerA:hover{
	transform: scale(5) rotate(-10deg);
}








/* welcome */




div#container{
	grid-template-columns: repeat(7, 8vw);
    grid-template-rows: repeat(1, 16vw);
    grid-gap: 1vw;
    padding: calc(50vh - 24vw) 10vw;
    display: grid;
    position: relative;
    align-content: center;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 500px;
	padding-top: 170px;
	padding-right: 0px;
	padding-left: 130px;
	transition: .5s ease;	
	


}



#glyphW{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2) ;
	left: 0px;
	top: 300px;
	transition: 1s ease;
}

.glyph23{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows:repeat(3,50px);
	grid-template-columns:repeat(1,50px 50px);
	grid-gap: 8px 8px;
		

}

.glyph23 div.left{
	background: black;
	border-radius: 0px 100% 0px 0px;
	width: 100%;
	height: 50px;
}


.glyph23 div.right{
	background: black;
	border-radius: 20vw 0px 0px 0px;
	width: 100%;
	height: 50px;
}

.glyph23 div.leftbot{
	background: black;
	border-radius: 0px 0px 20vw 0px;
	width: 100%;
	height: 110px;
}


.glyph23 div.rightbot{
	background: black;
	border-radius: 0px 0px 0px 20vw;
	width: 100%;
	height: 110px;
}

.glyph23 div.leftex{
	background: transparent;
}


.glyph23 div.rightex{
	background: transparent;
}



/* E */

#glyphE{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2);
	left: 100px;
	transform: scale(2) ;
	transition: 1s ease;
	top: 300px;
}


.glyph5{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;

}


.glyph5 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.glyph5 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 90px;
}

.glyph5 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.glyph5 div.rightbot{
	background: transparent;
}


.glyph5 div.rightex{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

}
.glyph5 div.leftex{
	background: transparent;
}





	/* L */

#glyphL{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2);
	left: 180px;
	top: 100px;
	transform: scale(2) ;
	transition: 1s ease;
}



.glyph12 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 0px;
	padding-top: 40px;
	top: 50px;
}



.glyph12 div.left{
	background: transparent;
	}

.glyph12 div.right{
	background: transparent;

	}

.glyph12 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 225px;

	}
	.glyph12 div.righttop{
	background: transparent;

	}

.glyph12 div.leftbot{
	background: transparent;

	}

.glyph12 div.rightbot{
	background: transparent;

	}



/* C */

#glyphC{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2);
	left: 170px;
	top: 300px;
	transform: scale(2) ;
	transition: 1s ease;
}


.glyph3{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
    grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;

}


.glyph3 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.glyph3 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;
}

.glyph3 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.glyph3 div.rightbot{
	background: transparent;
}


.glyph3 div.rightex{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

}


/* O */

#glyphO{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2);
	left: 245px;
	top: 300px;
	transform: scale(2) ;
	transition: 1s ease;
}

.glyph15{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 150px;

}


.glyph15 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.glyph15 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.glyph15 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 110px;
}


.glyph15 div.rightbot{
	background:  black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 110px;
}

.glyph15 div.leftex{
	background: transparent;
}


.glyph15 div.rightex{
	background:  transparent;
}


/* M */

#glyphM{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2);
	left: 345px;
	top: 180px;
	transform: scale(2) ;
	transition: 1s ease;
}




.glyph13{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 90px;

}


.glyph13 div.left{
	background: transparent;
}


.glyph13 div.right{
	background: transparent;
}

.glyph13 div.leftbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 167px;
}


.glyph13 div.rightbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 167px;
}

.glyph13 div.leftex{
	background: transparent;
}


.glyph13 div.rightex{
	background:  transparent;
}




#glyphE2{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2);
	left: 450px;
	top: 300px;
	transform: scale(2) ;
	transition: 1s ease;
}





/* two 2 */


div#for2{
	grid-template-columns: repeat(1, 8vw);
    grid-template-rows: repeat(1, 16vw);
    grid-gap: 1vw;
    padding: calc(50vh - 24vw) 10vw;
    display: grid;
    align-content: center;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 500px;
	padding-top: 170px;
	transition: .5s ease;
	background-color: red;
	background-position: 100% auto;
	background-size: cover;
	background-attachment: fixed;
	background-position: fixed;
	height: auto;
	position: relative;

}





.glyphnumber2{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 90px;

}



#glyphnum2{
	width: 100%;
	height: auto;
	box-sizing: content-box;
	transform: scale(2);
	left: 670px;
	top: 400px;
	transform: scale(2) ;
	transition: 1s ease;
}


.glyphnumber2 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.glyphnumber2 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 80px;
}

.glyphnumber2 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 108px;
}

.glyphnumber2 div.rightbot{
	background: transparent;
}

.glyphnumber2 div.leftex{
	background: transparent;
}


.glyphnumber2 div.rightex{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}



/* Jeanne */


#Jeanne{
	grid-template-columns: repeat(6, 8vw);
    grid-template-rows: repeat(1, 16vw);
    grid-gap: 1vw;
    padding: calc(50vh - 24vw) 10vw;
    display: grid;
    position: relative;
    align-content: center;
    box-sizing: border-box;
    height: auto;
    padding-left: 150px;
    padding-bottom: 500px;
    padding-top: 175px;
	transition: .5s ease;	
}


/* J */



#glyphJ{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 260px;
	transform: scale(2) ;
	transition: .5s ease;
}

.glyph10 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;
}



.glyph10 div.left{
	background: transparent;
	}

.glyph10 div.right{
	background: transparent;

	}

.glyph10 div.lefttop{
	background: transparent;

	}
.glyph10 div.righttop{
	background: black;
	border-radius: 60px 00px 0px 0px;
	width: 100%;
	height: 166px;

	}

.glyph10 div.leftbot{
	background: transparent;


	}

.glyph10 div.rightbot{
	background: transparent;

	}

.glyph10 div.leftdescender{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;


	}

.glyph10 div.rightdescender{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}



/* E */


#glyphE3{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 260px;
	left: 100px;
	transform: scale(2) ;
	transition: .5s ease;
}
.glyphe3{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;

}


.glyphe3 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.glyphe3 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 90px;
}

.glyphe3 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.glyphe3 div.rightbot{
	background: transparent;
}


.glyphe3 div.rightex{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

}
.glyphe3 div.leftex{
	background: transparent;
}




/* A */


#glyphA{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 260px;
	left: 200px;
	transform: scale(2) ;
	transition: .5s ease;
}



.glyph1{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 110px;

}


.glyph1 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.glyph1 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.glyph1 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 105px;
}


.glyph1 div.rightbot{
	background:  black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 105px;
}

.glyph1 div.leftex{
	background: transparent;
}


.glyph1 div.rightex{
	background:  transparent;
}




/* N */

#glyphN{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 138px;
	left: 300px;
}

.glyph14{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 90px;
	transform: scale(2) ;
	transition: .5s ease;

}


.glyph14 div.left{
	background: transparent;
}


.glyph14 div.right{
	background: transparent;
}

.glyph14 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 167px;
}


.glyph14 div.rightbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 167px;
}

.glyph14 div.leftex{
	background: transparent;
}


.glyph14 div.rightex{
	background:  transparent;
}





/* N */

#glyphN2{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 138px;
	left: 400px;
	transform: scale(2) ;
	transition: .5s ease;
}

.glyph14_2{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 90px;

}


.glyph14_2 div.left{
	background: transparent;
}


.glyph14_2 div.right{
	background: transparent;
}

.glyph14_2 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 167px;
}


.glyph14_2 div.rightbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 167px;
}

.glyph14_2 div.leftex{
	background: transparent;
}


.glyph14_2 div.rightex{
	background:  transparent;
}



/* E */


#glyphE4{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 260px;
	left: 500px;
	transform: scale(2) ;
	transition: .5s ease;
}

.glyphe4{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;


}


.glyphe4 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.glyphe4 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 90px;
}

.glyphe4 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.glyphe4 div.rightbot{
	background: transparent;
}


.glyphe4 div.rightex{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

}
.glyphe4 div.leftex{
	background: transparent;
}





/* Typeface */


#Typeface{
	grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(1, 16vw);
    grid-gap: 1vw;
    padding: calc(50vh - 24vw) 10vw;
    display: grid;
    position: relative;
    align-content: center;
    box-sizing: border-box;
    height: auto;
    padding-left: 150px;
    padding-bottom: 500px;
    padding-top: 175px;
	transition: 1s ease;
	background: #21d996;
}




/* T */


#glyphT{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;
	left: 300px;
	transform: scale(2) ;
	transition: .5s ease;

}



.glyph20 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	padding-top: 40px;
	top: 60px;
}



.glyph20 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 166px;

	}

.glyph20 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}

.glyph20 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}
.glyph20 div.righttop{
	background: transparent;

	}

.glyph20 div.leftbot{
	background: transparent;

	}

.glyph20 div.rightbot{
	background: transparent;

	}

.glyph20 div.leftex{
	background: transparent;

}

.glyph20 div.rightex{
	background: transparent;

	}





/* Y */


#glyphY{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 240px;
	left: 400px;
	transform: scale(2) ;
	transition: .5s ease;
}


.glyph25 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 155px;
}



.glyph25 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 107px;
	}

.glyph25 div.right{
		background: transparent;

	}

.glyph25 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}
.glyph25 div.righttop{
	
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 166px;

	}

.glyph25 div.leftbot{
	background: transparent;


	}

.glyph25 div.rightbot{
	background: transparent;

	}

.glyph25 div.leftdescender{
	background: transparent;


	}

.glyph25 div.rightdescender{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}


/* P */


#glyphP{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 240px;
	left: 500px;
	transform: scale(2) ;
	transition: .5s ease;

}

.glyph16 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 155px;
}



.glyph16 div.left{
	background: transparent;
	}

.glyph16 div.right{
		background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 107px;

	}

.glyph16 div.lefttop{
	background: black;
	border-radius: 60px 00px 0px 0px;
	width: 100%;
	height: 166px;

	}
.glyph16 div.righttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}

.glyph16 div.leftbot{
	background: transparent;


	}

.glyph16 div.rightbot{
	background: transparent;

	}

.glyph16 div.leftdescender{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;


	}

.glyph16 div.rightdescender{
	background: transparent;

	}





/* E */

#glyphE6{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 240px;
	left: 590px;
	transform: scale(2) ;
	transition: .5s ease;

}

.glyphE5{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;

}


.glyphE5 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.glyphE5 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 90px;
}

.glyphE5 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.glyphE5 div.rightbot{
	background: transparent;
}


.glyphE5 div.rightex{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

}
.glyphE5 div.leftex{
	background: transparent;
}





/* 2 */


#twentyninetine{
	grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(1, 16vw);
    grid-gap: 1vw;
    padding: calc(50vh - 24vw) 10vw;
    display: grid;
    position: relative;
    align-content: center;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 500px;
	padding-top: 170px;
	padding-right: 0px;
	padding-left: 130px;
	transition: .5s ease;	
	background-size: cover;
	background-attachment: fixed;
	background-position: fixed;
}

#two1{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 240px;
	left: 290px;
	transform: scale(2) ;
	transition: .5s ease;
}




.number21{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number21 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number21 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 80px;
}

.number21 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 108px;
}

.number21 div.rightbot{
	background: transparent;
}

.number21 div.leftex{
	background: transparent;
}


.number21 div.rightex{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}





/* O */

#zero1{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 240px;
	left: 420px;
	transform: scale(2) ;
	transition: .5s ease;
}

.number01{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number01 div.left{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 165px;
}


.number01 div.right{
	background: black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 165px;
}

.number01 div.leftbot{
	background: transparent;
}


.number01 div.rightbot{
	background:  transparent;
}

.number01 div.leftex{
	background: transparent;
}


.number01 div.rightex{
	background:  transparent;
}






/* 1 */

#one1{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 120px;
	left: 540px;
	transform: scale(2) ;
	transition: .5s ease;
}

.number101{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 100px;

}

.number101 div.left{
	background: transparent;
}


.number101 div.right{
	background: transparent;
}

.number101 div.leftbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.number101 div.rightbot{
	background: transparent;
}

.number101 div.leftex{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 109px;
}


.number101 div.rightex{
	background: transparent;
}




/* 9 */

#nine1{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 237px;
	left: 550px;
	transform: scale(2) ;
	transition: .5s ease;
}

.number91{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number91 div.left{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.number91 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.number91 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number91 div.rightbot{
	background:  black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}

.number91 div.leftex{
	background: transparent;
}


.number91 div.rightex{
	background:  transparent;
}





 #information{
	grid-template-columns: 300px 450px;
    grid-template-rows: 50px;
    grid-gap: 1vw;
    padding: calc(50vh - 24vw) 10vw;
    display: grid;
    position: relative;
    align-content: center;
    box-sizing: border-box;
    height: 1000px;
    background: black;
    color: white;
    padding-bottom: 500px;
	padding-top: 170px;
	padding-right: 0px;
	padding-left: 130px;
}

p {
	font-size: 20px;
	line-height: 34px;
	font-family: sans-serif;
}


h1{
	
	font-family: sans-serif;
	font-kerning: auto;
}




/* A */


#footerA{
	transform: scale(5);
	filter: invert(100%);
	left: 1600px;
	top: 70px;
	transition: 1s ease;
}



.lastA{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 110px;

}


.lastA div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.lastA div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.lastA div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 105px;
}


.lastA div.rightbot{
	background:  black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 105px;
}

.lastA div.leftex{
	background: transparent;
}


.lastA div.rightex{
	background:  transparent;
}































/* Type Specimen */


div#container2{
	grid-template-columns: repeat(10, 8vw);
    grid-template-rows: repeat(3, 16vw);
    grid-gap: 1vw;
    padding: 10vw 5.5vw;
    padding-top: 205px;
    padding-bottom: : 450px;
    display: grid;
    position: relative;
  	box-sizing: border-box;
  	background: linear-gradient(430deg, #00FF91, #0080FF);
	background-size: 400% 400%;


animation: alphabet 3s ease infinite;

}



@keyframes alphabet { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  	


div#container3{
	grid-template-columns: repeat(10, 8vw);
    grid-template-rows: repeat(2, 16vw);
    grid-gap: .5vw;
    padding: 10vw 5.5vw;
    padding-top: 175px;
    padding-bottom: 200px;
    box-sizing: border-box;
    display: grid;
    background: linear-gradient(430deg, #FF7F00, #FF00CF);
	background-size: 400% 400%;


animation: numerals 3s ease infinite;

}



@keyframes numerals { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  	
	



/* A */

.letter{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 110px;

}


.letter div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.letter div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 105px;
}


.letter div.rightbot{
	background:  black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 105px;
}

.letter div.leftex{
	background: transparent;
}


.letter div.rightex{
	background:  transparent;
}


/* B */

.letter2 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 50px;
}



.letter2 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 169px;

	}

.letter2 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}

.letter2 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}
	.letter2 div.righttop{
	background: transparent;

	}

.letter2 div.leftbot{
	background: transparent;

	}

.letter2 div.rightbot{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 111px;

	}



/* C */
.letter3{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
    grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;

}


.letter3 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter3 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;
}

.letter3 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.letter3 div.rightbot{
	background: transparent;
}


.letter3 div.rightex{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

}




/* D */

.letter4 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 50px;
}



.letter4 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 169px;

	}

.letter4 div.left{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;

	}

.letter4 div.righttop{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;

	}
	.letter4 div.lefttop{
	background: transparent;

	}

.letter4 div.rightbot{
	background: transparent;

	}

.letter4 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 111px;

	}


/* E */

.letter5{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;

}


.letter5 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter5 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 90px;
}

.letter5 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.letter5 div.rightbot{
	background: transparent;
}


.letter5 div.rightex{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

}
.letter5 div.leftex{
	background: transparent;
}


/* F */

.letter6 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 50px;
}



.letter6 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 169px;

	}

.letter6 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}

.letter6 div.lefttop{
	background: black;
	border-radius: 60px 00px 0px 0px;
	width: 100%;
	height: 50px;

	}
	.letter6 div.righttop{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}

.letter6 div.leftbot{
	background: transparent;

	}

.letter6 div.rightbot{
	background: transparent;

	}



/* G */

.letter7 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	
	top: 108px;
}



.letter7 div.left{
	background: transparent;
	}

.letter7 div.right{
	background: transparent;

	}

.letter7 div.lefttop{
	background: black;
	border-radius: 60px 00px 0px 0px;
	width: 100%;
	height: 108px;

	}
.letter7 div.righttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 166px;

	}

.letter7 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;


	}

.letter7 div.rightbot{
	background: transparent;

	}

.letter7 div.leftdescender{
	background: transparent;


	}

.letter7 div.rightdescender{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}

	/* H */

.letter8 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 50px;
}



.letter8 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 169px;

	}

.letter8 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}

.letter8 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}
	.letter8 div.righttop{
	background: transparent;

	}

.letter8 div.leftbot{
	background: transparent;

	}

.letter8 div.rightbot{
	background: black;
	border-radius: 0px 0px 00px 60px;
	width: 100%;
	height: 111px;

	}


.forletterI{
	display: grid;
	position: relative;
	grid-template-columns: 100px;
	width: 100%;

}

	/* I */

.letter9 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px ;
	grid-template-columns: 50px ;
	grid-gap: 8px 8px;
	top: 50px;
	
}



.letter9 div.left{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 169px;

	}


.letter9 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}




/* J */

.letter10 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 108px;
}



.letter10 div.left{
	background: transparent;
	}

.letter10 div.right{
	background: transparent;

	}

.letter10 div.lefttop{
	background: transparent;

	}
.letter10 div.righttop{
	background: black;
	border-radius: 60px 00px 0px 0px;
	width: 100%;
	height: 166px;

	}

.letter10 div.leftbot{
	background: transparent;


	}

.letter10 div.rightbot{
	background: transparent;

	}

.letter10 div.leftdescender{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;


	}

.letter10 div.rightdescender{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}







/* K */

.letter11 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	padding-top: 40px;
	top: 50px;
}



.letter11 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 166px;

	}

.letter11 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 100px;

	}

.letter11 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}
	.letter11 div.righttop{
	background: transparent;

	}

.letter11 div.leftbot{
	background: transparent;

	}

.letter11 div.rightbot{
	background: transparent;

	}

.letter11 div.leftex{
	background: transparent;

	}

.letter11 div.rightex{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;

	}





	/* L */

.letter12 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 0px;
	padding-top: 40px;
	top: 50px;
}



.letter12 div.left{
	background: transparent;
	}

.letter12 div.right{
	background: transparent;

	}

.letter12 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 225px;

	}
	.letter12 div.righttop{
	background: transparent;

	}

.letter12 div.leftbot{
	background: transparent;

	}

.letter12 div.rightbot{
	background: transparent;

	}

/* M */

.letter13{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 90px;

}


.letter13 div.left{
	background: transparent;
}


.letter13 div.right{
	background: transparent;
}

.letter13 div.leftbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 167px;
}


.letter13 div.rightbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 167px;
}

.letter13 div.leftex{
	background: transparent;
}


.letter13 div.rightex{
	background:  transparent;
}





/* N */

.letter14{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 90px;

}


.letter14 div.left{
	background: transparent;
}


.letter14 div.right{
	background: transparent;
}

.letter14 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 167px;
}


.letter14 div.rightbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 167px;
}

.letter14 div.leftex{
	background: transparent;
}


.letter14 div.rightex{
	background:  transparent;
}



/* O */

.letter15{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 150px;

}


.letter15 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter15 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.letter15 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 110px;
}


.letter15 div.rightbot{
	background:  black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 110px;
}

.letter15 div.leftex{
	background: transparent;
}


.letter15 div.rightex{
	background:  transparent;
}



/* P */

.letter16 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 155px;
}



.letter16 div.left{
	background: transparent;
	}

.letter16 div.right{
		background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 107px;

	}

.letter16 div.lefttop{
	background: black;
	border-radius: 60px 00px 0px 0px;
	width: 100%;
	height: 166px;

	}
.letter16 div.righttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}

.letter16 div.leftbot{
	background: transparent;


	}

.letter16 div.rightbot{
	background: transparent;

	}

.letter16 div.leftdescender{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;


	}

.letter16 div.rightdescender{
	background: transparent;

	}


/* Q*/

.letter17 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 155px;
}



.letter17 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 107px;
	}

.letter17 div.right{
		background: transparent;

	}

.letter17 div.lefttop{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;

	}
.letter17 div.righttop{
	
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 166px;

	}

.letter17 div.leftbot{
	background: transparent;


	}

.letter17 div.rightbot{
	background: transparent;

	}

.letter17 div.leftdescender{
	background: transparent;


	}

.letter17 div.rightdescender{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;

	}




/* R */

.letter18{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.letter18 div.left{
	background: black;
	border-radius: 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter18 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;
}

.letter18 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 105px;
}


.letter18 div.rightbot{
	background:  transparent;
}

.letter18 div.leftex{
	background: transparent;
}


.letter18 div.rightex{
	background:  transparent;
}



/* S */

.letter19{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.letter19 div.left{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 90px;
}


.letter19 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;
}

.letter19 div.leftbot{
	background: transparent;
}

.letter19 div.rightbot{
	background: black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 108px;
}

.letter19 div.leftex{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter19 div.rightex{
	background: transparent;
	
}





/* T */

.letter20 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	padding-top: 40px;
	top: 60px;
}



.letter20 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 166px;

	}

.letter20 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}

.letter20 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}
	.letter20 div.righttop{
	background: transparent;

	}

.letter20 div.leftbot{
	background: transparent;

	}

.letter20 div.rightbot{
	background: transparent;

	}

.letter20 div.leftex{
	background: transparent;

}

.letter20 div.rightex{
	background: transparent;

	}

/* U */

.letter21{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 100px;

}


.letter21 div.left{
	background: transparent;
}


.letter21 div.right{
	background: transparent;
}

.letter21 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 160px;
}


.letter21 div.rightbot{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 160px;
}

.letter21 div.leftex{
	background: transparent;
}


.letter21 div.rightex{
	background:  transparent;
}



/* V */

.letter22{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 100px;

}

.letter22 div.left{
	background: transparent;
}


.letter22 div.right{
	background: transparent;
}

.letter22 div.leftbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter22 div.rightbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}

.letter22 div.leftex{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 105px;
}


.letter22 div.rightex{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 105px;
}




/* W */

.letter23{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}

.letter23 div.left{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter23 div.right{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}

.letter23 div.leftbot{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 110px;
}


.letter23 div.rightbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 110px;
}

.letter23 div.leftex{
	background: transparent;
}


.letter23 div.rightex{
	background: transparent;
}


/* X */

.letter24{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}

.letter24 div.left{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.letter24 div.right{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}

.letter24 div.leftbot{
	background: black;
	border-radius: 600px 0px 0px 0px;
	width: 100%;
	height: 108px;
}


.letter24 div.rightbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 108px;
}

.letter24 div.leftex{
	background: transparent;
}


.letter24 div.rightex{
	background: transparent;
}



/* Y */

.letter25 {
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 155px;
}



.letter25 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 107px;
	}

.letter25 div.right{
		background: transparent;

	}

.letter25 div.lefttop{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;

	}
.letter25 div.righttop{
	
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 166px;

	}

.letter25 div.leftbot{
	background: transparent;


	}

.letter25 div.rightbot{
	background: transparent;

	}

.letter25 div.leftdescender{
	background: transparent;


	}

.letter25 div.rightdescender{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;

	}





/* Z */

.letter26{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.letter26 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.letter26 div.right{
	background: black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 90px;
}

.letter26 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 108px;
}

.letter26 div.rightbot{
	background: transparent;
}

.letter26 div.leftex{
	background: transparent;
}


.letter26 div.rightex{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
	
}


/* NUMBERS */ 

/* 1 */

.number1{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 100px;

}

.number1 div.left{
	background: transparent;
}


.number1 div.right{
	background: transparent;
}

.number1 div.leftbot{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}


.number1 div.rightbot{
	background: transparent;
}

.number1 div.leftex{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 109px;
}


.number1 div.rightex{
	background: transparent;
}





/* 2 */

.number2{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number2 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number2 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 80px;
}

.number2 div.leftbot{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 108px;
}

.number2 div.rightbot{
	background: transparent;
}

.number2 div.leftex{
	background: transparent;
}


.number2 div.rightex{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}





/* 3 */

.number3{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number3 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number3 div.right{
	background: black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 90px;
}

.number3 div.leftbot{
	background: transparent;
}

.number3 div.rightbot{
	background: black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 108px;
}

.number3 div.leftex{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.number3 div.rightex{
	background: transparent;
	
}



/* 4 */

.number4{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number4 div.left{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.number4 div.right{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}

.number4 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number4 div.rightbot{
	background:  black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 105px;
}

.number4 div.leftex{
	background: transparent;
}


.number4 div.rightex{
	background:  transparent;
}




/* 5 */

.number5{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number5 div.left{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.number5 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;
}

.number5 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number5 div.rightbot{
	background:  black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 108px;
}

.number5 div.leftex{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number5 div.rightex{
	background:  transparent;
}




/* 6 */

.number6{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number6 div.left{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.number6 div.right{
	background: black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 50px;
}

.number6 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}


.number6 div.rightbot{
	background:  black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 108px;
}

.number6 div.leftex{
	background: transparent;
}


.number6 div.rightex{
	background:  transparent;
}




/* 7 */

.number7{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number7 div.left{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number7 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.number7 div.leftbot{
	background: transparent;
}


.number7 div.rightbot{
	background:  black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 108px;
}

.number7 div.leftex{
	background: transparent;
}


.number7 div.rightex{
	background:  transparent;
}





/* 8 */

.number8{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number8 div.left{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.number8 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.number8 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 60px;
}


.number8 div.rightbot{
	background:  black;
	border-radius: 0px 0px 60px 0px;
	width: 100%;
	height: 60px;
}

.number8 div.leftex{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;

}


.number8 div.rightex{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}



/* 9 */

.number9{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number9 div.left{
	background: black;
	border-radius: 60px 0px 0px 0px;
	width: 100%;
	height: 50px;
}


.number9 div.right{
	background: black;
	border-radius: 0px 60px 0px 0px;
	width: 100%;
	height: 50px;
}

.number9 div.leftbot{
	background: black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 50px;
}


.number9 div.rightbot{
	background:  black;
	border-radius: 0px 0px 0px 60px;
	width: 100%;
	height: 108px;
}

.number9 div.leftex{
	background: transparent;
}


.number9 div.rightex{
	background:  transparent;
}






/* O */

.number0{
	position: relative;
	display: grid;
	float: left;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	grid-gap: 8px 8px;
	padding-right: 20px;
	top: 160px;

}


.number0 div.left{
	background: black;
	border-radius: 60px 0px 0px 60px;
	width: 100%;
	height: 165px;
}


.number0 div.right{
	background: black;
	border-radius: 0px 60px 60px 0px;
	width: 100%;
	height: 165px;
}

.number0 div.leftbot{
	background: transparent;
}


.number0 div.rightbot{
	background:  transparent;
}

.number0 div.leftex{
	background: transparent;
}


.number0 div.rightex{
	background:  transparent;
}





































