
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: white;
}
#desktop {
    display: inline;
    color: white;
}


img {
    max-width: 100%;
    height: auto;
    display: block;

}



p.white{
    text-align: center;
    display: block;
    font-family: serif;
    margin:0;
    padding:0;
    font-size: 100px;
    color: white;
    z-index: 10;
    position: relative;

}
p.text{
    text-align: center;
    display: block;
    font-family: serif;
    margin:0;
    padding:0;
    font-size: 30px;
    font-kerning: auto;
    color: white;
    z-index: 10;
    position: relative;

}







img, #desktop{
    transition-duration: 1000ms;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-delay: 1s;

}
img:hover{
    transform: scale(10);
}

    





#tablet,
#mobile,
#print {
    display: none;
}
/* tablet */
@media (min-width: 770px) and (max-width: 1080px) {
    body {
        background: white;
    }
    #tablet {
        display: inline;
        color: white;
    }
    p.white2{
    text-align: center;
    display: block;
    font-family: serif;
    margin:0;
    padding:0;
    font-size: 90px;
    color: black;
    z-index: 10;
    position: relative;
}

p.text2{
    text-align: center;
    display: block;
    font-family: serif;
    margin:0;
    padding:0;
    font-size: 30px;
    font-kerning: auto;
    color: black;
    z-index: 10;
    position: relative;

}
    #desktop,
    #mobile,
    #print {
        display: none;
    }
}
/* mobile */
@media (max-width: 770px) {
    body {
        background: white;
    }
    #mobile {
        display: inline;
        color: black;
    }
    p.white3{
    text-align: center;
    display: block;
    font-family: serif;
    margin:0;
    padding:0;
    font-size: 100px;
    color: black;
    z-index: 10;
    position: relative;
    transform: rotate(-32deg);
}
    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
/* print */
@media print {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}