
body {
  background: #801638;
  width: 100%;
  height: 11960px;
  scroll-behavior: smooth;
  color: white;
}



body,
body > * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
* {
  transition: all .3s ease 0s;
}


.opening{
	background-image: url('bg1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 900px;
	

}
h1,
.title  {
	text-align: center;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	color: #F0C415;
	font-weight: normal;
	font-family:OCR A std;
	font-size: 76px;
	top:450px;
	z-index: 10;
}

h2,
.subtitle  {
	text-align: center;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	color: #F0C415;
	font-weight: normal;
	letter-spacing: 10px;
	font-size: 20px;
	top:450px;
	z-index: 10;
}


img{
	margin: 0;
	padding:0;
	display: block;
	width: 320px;
	height:320px;
	left: 595px;
	top:100px;

	position: relative;
	

}

.firstanimation{
	animation: meme 4s  infinite linear;

}



@keyframes meme{
	from{transform: rotate(0deg) scale(0);}
	to{transform: rotate(360deg) scale(7);}
}






/*Grid preview
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;

}

#item-1 {
  background: #b2b0ab;

    
}

#item-2 {
  background: #efc775;

    
}

#item-3 {
  background:white;

    
}

#item-4 {
  background: #4776fa;

    
}

#item-5 {
  background:#f970a2;

    
}

#item-6 {
  background: #1bc3ea;

    
}

#item-7 {
  background:#a2dd83;

    
}

#item-8 {
  background:#f1a864;

    
}
*/





/* Meme BG color themes */

div + div article:nth-child(1) {
  background: #b2b0ab;
}

div + div article:nth-child(2) {
  background: #efc775;
}


div + div article:nth-child(3) {
  background: #ffffff;
}

div + div article:nth-child(4),
div + div {
  background: #4776fa;
}
div + div article:nth-child(5),
div + div {
  background: #f970a2;
}
div + div article:nth-child(6),
div + div {
  background: #1bc3ea;
}
div + div article:nth-child(7),
div + div {
  background: #a2dd83;
}

div + div article:nth-child(8),
div + div {
  background: #f1a864;
}



div + div {
  width: 100%;
  height: 8%;

}

div + div {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: justify-content;
  overflow: hidden;
}

div + div article {
  flex: initial;
  width: 12.5%;
  height: 100%;
  text-align: center;
  color: #282d26;
  text-decoration: none;
  vertical-align: bottom;
  box-sizing: border-box;
  padding-top: 300px;
  padding-left: 30px;
  position: relative;
}

body > div:first-child {
  position: fixed;
  bottom: 8vh;
  background: #fff;
  width: 100%;
  text-align: center;
  z-index: 2;
}

body > div:first-child h1,
body > div:first-child h2 {
  margin: 0;
  padding: 0;
}

div + div:hover article {
	flex:initial;
	width: 8%;

}


div + div article:hover{
	width: 60%;
}

div + div article:hover > div{
	 opacity: 1;
  	 transition: opacity .3s ease .3s;
}


article > div{
	opacity: 0;
	transition: opacity .3s ease.3s;
}


div + div article > h2 {
  bottom: 2vh;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 14px;
}
article div{
	text-align: left; 
	width:560px;
}

.container2 {
	background-image:url('DB.jpg');
	margin-top: 10px;
	width: 100%;
	height: 8%;
	position: relative;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}

.container3 {
	background: #efc775;
	width: 100%;
	height: 8%;
	
}

.container4 {
	background: white;
	width: 100%;
	height: 8%;
	
}

.container5 {
	background: #4776fa;
	width: 100%;
	height: 8%;
	
}

.container6 {
	background: #f970a2;
	width: 100%;
	height: 8%;
	
}

.container7 {
	background: #1bc3ea;
	width: 100%;
	height: 8%;
	
}
.container8 {
	background: #a2dd83;
	width: 100%;
	height: 8%;
	
}

.container9 {
	background: #f1a864;
	width: 100%;
	height: 8%;
	
}
#content{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	

}














@media 